---
import TagList from '../../components/TagList.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Tags">
  <h2>Acá están mis etiquetas, loko</h2>
  <TagList />
</BaseLayout>